# =========================
# Java / Maven
# =========================
**/target/
*.class

# =========================
# IntelliJ IDEA
# =========================
**/.idea/
*.iml

# =========================
# Spring Boot
# =========================
**/logs/
*.log

# =========================
# Angular / Node
# =========================
**/node_modules/
**/dist/
**/.angular/

# =========================
# Mac
# =========================
.DS_Store

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Temporary files
# =========================
*.tmp
*.swp
.env
