<main class="main-content my-gap">
  <div class="restaurant-grid">
    <div class="restaurant-card" *ngFor="let restaurant of restaurantList">
      <div class="restaurant-image">
        <img [src]="'assets/restaurant-pics/' + getRandomImage()" alt="Restaurant 1">
      </div>
      <div class="restaurant-details">
        <h3 class="restaurant-name">{{restaurant.name}}</h3>
        <div class="restaurant-rating">
          <span class="rating"><i class="fa fa-star"></i>4.5</span>
          <span class="rating-count">(500+)</span>
        </div>
        <button class="order-btn" (click)="onButtonClick(restaurant.id)">Order Now</button>
      </div>
    </div>
  </div>


  <div class="pagination-container">
    <div class="page-size-selector">
      <label for="pageSize">Items per page:</label>
      <select id="pageSize" [value]="pageSize" (change)="onPageSizeChange($event)">
        <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
      </select>
    </div>
    <div class="pagination-controls">
      <button (click)="prevPage()" [disabled]="currentPage === 0">Prev</button>
      <button *ngFor="let page of getPageNumbers()" (click)="goToPage(page)" [class.active]="page === currentPage">
        {{ page + 1 }}
      </button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Next</button>
    </div>
    <div class="page-info">
      Page {{ currentPage + 1 }} of {{ totalPages }}
    </div>
  </div>


</main>